astunparse                   
attrs                        
backcall                     
bleach                       
blinker                      
cachetools                   
certifi                      
charset-normalizer           
click                        
comm                         
debugpy                      
decorator                    
distlib                      
distro                       
dm-tree                      
exceptiongroup               
executing                    
filelock                     
flatbuffers                  
fsspec                       
future                       
gast                         
gitdb                        
GitPython                    
google-auth                  
google-auth-oauthlib         
google-pasta                 
grpcio                       
h11                          
h5py                         
httpcore                     
httpx                        
huggingface-hub              
idna                         
importlib-metadata           
install                      
ipykernel                    
ipython                      
jedi                         
Jinja2                       
joblib                       
jsonschema                   
jsonschema-specifications    
jupyter_client               
jupyter_core                 
kaggle                       
keras                        
langid                       
libclang                     
looseversion                 
macholib                     
Markdown                     
markdown-it-py               
MarkupSafe                   
matplotlib-inline            
mdurl                        
ml-dtypes                    
mpmath                       
namex                        
nest-asyncio                 
networkx                     
nltk                         
numpy                        
oauthlib                     
openai                       
opt-einsum                   
packaging                    
pandas                       
parso                        
pexpect                      
pickleshare                  
Pillow                       
pip                          
platformdirs                 
prompt-toolkit               
protobuf                     
psutil                       
ptyprocess                   
pure-eval                    
pyarrow                      
pyasn1                       
pyasn1-modules               
pydantic                     
pydantic_core                
pydeck                       
Pygments                     
python-dateutil              
python-slugify               
pytz                         
PyYAML                       
pyzmq                        
referencing                  
regex                        
requests                     
requests-oauthlib            
rethinkdb                    
rich                         
rpds-py                      
rsa                          
safetensors                  
scikit-learn                 
scipy                        
sentencepiece                
setuptools                   
six                          
smmap                        
sniffio                      
stack-data                   
streamlit                    
sympy                        
tenacity                     
tensorboard                  
tensorboard-data-server      
tensorflow                   
tensorflow-estimator         
tensorflow-io-gcs-filesystem 
termcolor                    
text-unidecode               
thinker                      
threadpoolctl                
tokenizer                    
tokenizers                   
toml                         
toolz                        
torch                        
torchaudio                   
torchvision                  
tornado                      
tqdm                         
traitlets                    
transformers                 
typing_extensions            
tzdata                       
tzlocal                      
urllib3                      
validators                   
virtualenv                   
wcwidth                      
webencodings                 
Werkzeug                     
wheel                        
wrapt                        
zipp                         